* {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* header */
header {
    background-color: gray;
    padding: 2rem;
}
#logo{
    height: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: .8em;
}
ul li:last-child {
    background: black;
    color: white;
    padding: .8rem;
}

/* left an right text boxes */
.container {
    display: flex;
    gap: 1rem;
    margin: 10px;
}
main, aside {
    border: 1px solid black;
    height: 95vh;
}
main {
    flex: 1;
}
aside {
    flex-basis: 25%;
}

/* gallery */
.gallery img {
    width: 30%;
    height: auto;
}

.gallery {
    display: flex;
    gap: .8rem;
    flex-wrap: wrap;
    justify-content: center;
}

/* shop button */
button img {
    height: 1.5rem;
    width: 1.5rem;
}
button {
    padding: 2px;
    display: flex;
    align-items: center;
    justify-items: center;
    line-height: 0;
    gap: .4rem;
    background-color: white;
    border-radius: 15px;
    margin: 5px;

}
button:hover {
    cursor: pointer;
    border: 3px solid black;
}

/* footer */
footer {
    height: 8rem;
    background-color: gray;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}