<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Header</title>
        <link rel="stylesheet" href="header.css">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
        </style>
    </head>

    <!-- Simple Website design using flex -->

    <body>
        <header>
            
            <nav>
                <a href="#">
                    <img id="logo" src="https://cdn.pixabay.com/photo/2022/08/22/03/30/logo-7402627_960_720.png" alt="">
                </a>
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>Services</li>
                    <li>Testmonials</li>
                    <li>Contact</li>
                </ul>
            </nav>
        </header>

        <div class="container">
            <aside>Column left</aside>
            <main>Column right</main>
        </div>

        <div class="gallery">
            <img src="https://source.unsplash.com/random?" id="1" alt="">
            <img src="https://source.unsplash.com/random?" id="2" alt="">
            <img src="https://source.unsplash.com/random?" id="3" alt="">
            <img src="https://source.unsplash.com/random?" id="4" alt="">
            <img src="https://source.unsplash.com/random?" id="5" alt="">
            <img src="https://source.unsplash.com/random?" id="6" alt="">
            <img src="https://source.unsplash.com/random?" id="7" alt="">
            <img src="https://source.unsplash.com/random?" id="8" alt="">
            <img src="https://source.unsplash.com/random?" id="9" alt="">
        </div>

        <button>
            <img src="https://www.pngitem.com/pimgs/m/521-5216062_shopping-cart-transparent-background-shopping-cart-icon-png.png" alt="">
            <strong>Shop</strong> 
        </button>

        <footer>
            02/09/2023
        </footer>
    </body>
</html>